<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>social</title>
    <script src="jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/layout_homepage.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
  <div class="page-container">
    <div style="width:100%;">
    <div class="navbar navbar-inverse">
                <div class="container-fluid">
                <div class="col-xs-4">
                  <div class="navbar-header"><h1>social</h1></div>
                </div>
                <div class="col-xs-4">
                  <form action="/search">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Tìm kiếm">
                      <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                          <i class="glyphicon glyphicon-search"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-xs-4">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" style="font-size:18px;"><span class="glyphicon glyphicon-log-out"></span> Đăng xuất</a></li></li>
                  </ul>
                </div>
                </div>
    </div>
  </div>
    <div class="container">
          <div class="col-md-3" style="height: 800px;">
            <div class="userProfileCard">
              <div class="userCover">
              </div>
              <div class="userProfileCard-content">
                <div class="avatatContainer">
                  <div class="userProfileImage">
                    <img src="/images/avt.jpg">
                  </div>
                  <div class="userProfileName">
                    <div class="fullname">
                      <span> Nguyen Thiet Manh</span>
                    </div>
                    <span class="userName">
                      @ManhNguyen98
                    </span>
                  </div>
                </div>
              </div>
            </div>
              <div class="roomListCard">
              <div class="roomTitle"><p>Tên phòng</p></div>
              <div class="roomListDefault">
                <ul>
                  <li>Tư vấn tình cảm</li>
                  <li>Buôn bán muôn nơi</li>
                  <li>Công nghệ</li>
                  <li>Dành cho các mẹ</li>
                </ul>
              </div>
              <div class="roomListUser">
                <div class="userTitle">Phòng của bạn</div>
                <div class="userRoomList">
                  <ul>
                    <li>CN2-02-K61</li>
                    <li>A1-K41</li>
                    <li>P410-KTX B3</li>
                  </ul>
                </div>
              </div>
              </div>
            <div style="background-color:rgb(165, 12, 119);height: 60px;">
              create room
            </div>
            <div style="background-color:rgb(56, 17, 226);height: 60px;">
              set up
            </div>
            <div style="background-color:rgb(25, 236, 120);height: 60px;">
              help
            </div>
          </div>
          <div class="col-md-9" style="background-color:aqua;">
            <div style="background-color:violet;height: 100px;">
            <div class="status" style="background-color:rgb(8, 197, 93);height: 50px;">
              status
            </div>
            <div class="notifi" style="background-color:rgb(179, 226, 9);height: 50px;">
              notice
            </div>
            </div>
            <div class="col-md-8" style="background-color:black;height: 100px;">
              new feed
            </div>
            <div class="col-md-4" style="background-color:blue;">
              <div style="background-color:rgb(11, 228, 102);height: 420px;">
                list friend
              </div>
              <div style="background-color:rgb(156, 131, 16);height: 200px;">
                  new user
                </div>
            </div>
          </div>
  </div>
</div>
</body>
</html>