<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>social</title>
    <script src="jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/layout_homepage.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/popup.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="popupExcute.js"></script>
    <script src="homeControl.js"></script>
</head>
<body>
  <div class="page-container">
    <div style="width:100%;">
    <div class="navbar navbar-inverse">
                <div class="container-fluid">
                <div class="col-xs-4">
                  <div class="navbar-header"><h1>social</h1></div>
                </div>
                <div class="col-xs-4">
                  <form action="/search">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Tìm kiếm">
                      <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                          <i class="glyphicon glyphicon-search"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-xs-4">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout" style="font-size:18px;"><span class="glyphicon glyphicon-log-out"></span> Đăng xuất</a></li></li>
                  </ul>
                </div>
                </div>
    </div>
  </div>
    <div class="container">
          <div class="col-md-3" style="height: 800px;padding: 0;display: block;">
            <div class="userProfileCard">
              <div class="userCover">
              </div>
              <div class="userProfileCard-content">
                <div class="avatatContainer">
                  <div class="userProfileImage">
                    <img src="/images/avt.jpg">
                  </div>
                  <div class="userProfileName">
                    <div class="fullname">
                      <span> Nguyen Thiet Manh</span>
                    </div>
                    <span class="userName">
                      @ManhNguyen98
                    </span>
                  </div>
                </div>
              </div>
            </div>
              <div class="roomListCard">
              <div class="roomTitle"><p>Chat Room</p></div>
              <div class="roomListDefault">
                <ul>
                  <li id="tuvantinhcam">Tư vấn tình cảm</li>
                  <li id="buonban">Buôn bán muôn nơi</li>
                  <li id="congnghe">Công nghệ</li>
                  <li id="danhchome">Dành cho các mẹ</li>
                </ul>
              </div>
              <div class="roomListUser">
                <div class="userTitle">Phòng của bạn</div>
                <div class="userRoomList">
                  <ul>
                    <li>CN2-02-K61</li>
                    <li>A1-K41</li>
                    <li>P410-KTX B3</li>
                  </ul>
                </div>
              </div>
              </div>
            <div class="createRoom">
              <p>Tạo Phòng <span class="glyphicon glyphicon-plus"></span></p>
            </div>
            <div class="setting">
              <p>Cài đặt <span class="glyphicon glyphicon-cog"></span></p>
            </div>
            <div class="help">
              <p>Hỗ trợ <span class="glyphicon glyphicon-question-sign"></span></p>
            </div>
          </div>
          <div class="col-md-6" style="display:block;" id="middle">
            <div>
            <span class="userStatus"  style="display:block;">
              <div class="userImage">
                <img src="/images/avt1.jpg">
              </div>
              <div class="userStatusText">
                <input type="text" placeholder="Hôm nay của bạn như thế nào ?" class="statusText">
              <div  class="btnStatus">
                <button class="btn btn-default" onclick="postStatus()">Chia sẻ <span class="glyphicon glyphicon-share-alt"></span></button>
              </div>
              </div>
            </span>
            <div class="notice">
              
            </div>
            </div>
            <div style="padding:0; display: block;">
              <div class="newFeed">
              </div>
            </div>
          </div>
          <div class="col-md-3" style="padding:0;">
            <div class="fakeImg">
              
            </div>
              <div class="listFriendOnline">
                  <div class="listFriendTitle">Bạn bè</div>
                  <div class="listFriend">
                    <ul>
                      <div>
                        <img src="/images/avt1.jpg">
                        <span>Nguyen Thi Hai Yen</span>
                        <i class="glyphicon glyphicon-leaf"></i>
                      </div>
                      <div>
                        <img src="/images/avt1.jpg">
                        <span>Hoang Ha Giang</span>
                        <i class="glyphicon glyphicon-leaf"></i>
                      </div>
                      <div>
                        <img src="/images/avt1.jpg">
                        <span>Vuong Thi Nga</span>
                        <i class="glyphicon glyphicon-leaf"></i>
                      </div>
                      <div>
                        <img src="/images/avt1.jpg">
                        <span>Micky Mouse</span>
                        <i class="glyphicon glyphicon-leaf"></i>
                      </div>
                      <div>
                        <img src="/images/avt1.jpg">
                        <span>Tom</span>
                        <i class="glyphicon glyphicon-leaf"></i>
                      </div>
                      <div>
                        <img src="/images/avt1.jpg">
                        <span>Nguyen Hong Nhung</span>
                        <i class="glyphicon glyphicon-leaf"></i>
                      </div>
                      <div>
                        <img src="/images/avt1.jpg">
                        <span>Nguyen Quynh Giang</span>
                        <i class="glyphicon glyphicon-leaf"></i>
                      </div>
                      <div>
                        <img src="/images/avt1.jpg">
                        <span>Do Thi Duong</span>
                        <i class="glyphicon glyphicon-leaf"></i>
                      </div>
                    </ul>
                  </div>
                </div>
                <div class="newUser">
                    <div class="newUserTitle">Người dùng mới</div>
                    <div class="newUserList">
                      <ul>
                      <div>
                          <img src="/images/avt1.jpg">
                          <span>Dang Dinh Son</span>
                          <i class="glyphicon glyphicon-globe"></i>
                      </div>
                      <div>
                          <img src="/images/avt1.jpg">
                          <span>Hoang The Son</span>
                          <i class="glyphicon glyphicon-globe"></i>
                      </div>
                      <div>
                          <img src="/images/avt1.jpg">
                          <span>Nguyen Duy Tung</span>
                          <i class="glyphicon glyphicon-globe"></i>
                      </div>
                      </ul>
                    </div>
                </div>
          </div>
  </div>
</div>
</body>
</html>