<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="jquery.js"></script>
    <link rel="stylesheet" href="stylesheets/layout_trangchu.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
    <script src="xuly.js"></script>
    
        
    <title>social</title>
</head>
<body>
        <div class="wrapper">
            <div style="display:flex" class="navigation">
                <div class="logo"><p>social<p></div>
                    <div style="display:flex" class="login">
                    <form action="/login" method="post" style="display:flex">
                    <div style="display:inline-block;padding-top: 5px;" >
                        <p style="margin-bottom:3px;">Tên đăng nhập:</p>
                        <input type="text" placeholder="User name ..." name="username" id="Lusername">
                    </div>
                    <div style="display:inline-block;padding-top: 5px;">
                        <p style="margin-bottom:3px;">Mật khẩu:</p>
                        <input type="password" placeholder="Password..." name="password" id="Lpassword">
                    </div>
                    <div ><input type="submit" value="Đăng nhập" id="btnLogin"></div>
                    </form>
                </div>
            </div>
        <div style="display:flex;" class="middle">
            <div class="left">
                <img src="/images/trangchu3.jpg" alt="bkAutunm">
            </div>
            <div class="right">
                    <%- messages() %>
                    <h1>Đăng ký</h1>
                    <% if (errors) { %>
                        <ul>
                            <% errors.forEach(function(err){ %>
                                <li class ="register-validator"><%= err.msg %></li>
                            <% }) %>
                        </ul>
                    <% } %>
                    <!--Hien thi tai khoan da ton tai-->
                    <% if (user) { %>
                        <div class="register-validator">Tài khoản đã tồn tại</div>
                    <% } %>
                    <!--Hien thi email da ton tai-->
                    <% if (email) { %>
                        <div class="register-validator">Email đã tồn tại</div>
                    <% } %>
            <form action="/register" method="post">
                <div class="name">
                    <input type="text" id="RHo" placeholder="Họ" name="firstname" autofocus>
                    <input type="text" id="RTen" placeholder="Tên" name="lastname">
                </div>
                <div class="ten">
                    <li><input type="text" id="RuserName" placeholder="Tên đăng nhập" name="username"></li>
                    <li><input type="email" id="Remail" placeholder="Email" name="email"></li>
                    <li><input type="password" id="RpassWord" placeholder="Mật khẩu mới" name="password"></li>
                    <li><input type="password" id="RpassWord2" placeholder="Nhập lại mật khẩu" name="password2"></li>
                    <p style="font-weight:bold">Ngày sinh</p>
                    <input type="date" name="bday" id="bday"><br><br>
                    <div class="gender">
                    <input type="radio" name="gender" value="Nam"> Nam
                    <input type="radio" name="gender" value="Nữ"> Nữ
                    <input type="radio" name="gender" value="Khác"> Khác
                </div>
                </div>
            <input type="submit" value="Đăng ký" id="registration">
            </form>
            
            </div>
        </div>
        <div class="footer"> 
                <h2>Footer</h2>
        </div>
    </div>
</body>
</html>