
body{
    background-color: rgb(225, 233, 242);
    font-family: 'Open Sans', sans-serif;
}

.navbar { 
    width: 100%;
    background-color: rgb(12, 77, 181);
    border: white;
    color: #ffffff;
    border-radius: 0;
}
.navbar-header h1{
    margin-top: 5px;
}
.input-group{
    margin-top: 10px;
}
.glyphicon-log-out{
    font-size: 20px;
}

.userProfileCard{
    background-color: #fff;
    height: 200px;
    margin-bottom: 8px;
    box-shadow: 1px 3px 5px #888888;
}

.userCover{
    background-color: rgb(12,77,181);
    height: 100px;
}

.userProfileImage img{
    float: left;
    /* background: url("/images/avt.png") no-repeat; */
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    margin: -25px 0 0 8px;
    padding: 1px;
    border: rgb(255, 255, 255) solid 2px;
    
}

.fullname{
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin: -1px 0 -2px 70px;
}
.fullname:hover{
    text-decoration: underline;
}
.userName{
    opacity: 0.7;
}
/* UserProfileCard */
/* 0000000000000000 */
.roomListCard{
    background-color: #fff;
    height: 382px;
    margin-bottom: 8px;
    box-shadow: 1px 3px 5px #888888;
}

.roomTitle{
    height: 45px;
    font-weight: bold;
    text-align: center;
    border-bottom: solid 1px #bbb8b8;
    font-size: 18px;
    background-color: rgb(12,77,181);
    color: #fff;
    padding: 7px;
}

.roomListDefault ul{
    cursor: pointer;
    list-style: none;
    overflow-y: scroll;
    margin-bottom: 0;
    border-bottom: solid 1px #bbb8b8;
    padding: 0;
}

.roomListDefault ul li{
    height: 40px;
    padding: 5px;
}
.roomListDefault ul li:hover{
    background-color: #d6d3d3;
}
.userTitle{
    height: 45px;
    font-weight: bold;
    text-align: center;
    border-bottom: solid 1px #bbb8b8;
    font-size: 18px;
    padding: 3px; 
    background-color: rgb(12,77,181);
    color: #fff;
}

.userRoomList ul{
    cursor: pointer;
    list-style: none;
    overflow-y: scroll;
    height: 125px;
    padding: 0;
}
.userRoomList ul li{
    height: 40px;
    padding: 5px;
}
.userRoomList ul li:hover{
    background-color: #d6d3d3;
}
/*roomListCard*/

.createRoom{
    cursor: pointer;
    height: 60px;
    background-color: #fff;
    margin-bottom: 8px;
    box-shadow: 1px 3px 5px #888888;
}
.createRoom p{
    padding: 15px;
    text-align: center;
    font-size: 20px;
}
.createRoom p span{
    color:rgb(12,77,181);
    float: right;
}
.createRoom:hover{
    background-color: #d6d3d3;
}
/*CreateRoom*/
.setting{
    cursor: pointer;
    height: 60px;
    background-color: #fff;
    margin-bottom: 8px;
    box-shadow: 1px 3px 5px #888888;
}
.setting p{
    padding: 15px;
    text-align: center;
    font-size: 20px;
}
.setting p span{
    color:rgb(12,77,181);
    float: right;
}
.setting:hover{
    background-color: #d6d3d3;
}
/*Setting*/
.help{
    cursor: pointer;
    height: 60px;
    background-color: #fff;
    box-shadow: 1px 3px 5px #888888;
}
.help p{
    padding: 15px;
    text-align: center;
    font-size: 20px;
}
.help p span{
    color:rgb(12,77,181);
    float: right;
}
.help:hover{
    background-color: #d6d3d3;
}
/*Help*/

.userStatus{
    padding: 10px;
    height: 60px;
    background-color: #fff;
    margin-bottom: 6px;
    box-shadow: 1px 3px 5px #888888;
}

.userStatusText .statusText{
    margin-left: 15px;
    width:80%;
    text-align: justify;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #d6d3d3;
}
.btnStatus{
    display: none;
    float: right;
    position: relative;
    top: 5px;
    right: 80px;
}
.userImage img{
    float: left;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
/* User Status */

.listFriendOnline{
    height: 420px;
    background-color: #fff;
    margin-bottom: 8px;
    box-shadow: 1px 3px 5px #888888;
}
.listFriendTitle{
    height: 45px;
    font-weight: bold;
    text-align: center;
    border-bottom: solid 1px #bbb8b8;
    font-size: 18px;
    padding: 10px; 
    background-color: rgb(12,77,181);
    color: #fff;
}
.listFriend{
    height: 375px;
    overflow-y: scroll;
}
.listFriend ul{
    padding: 0;
    cursor: pointer; 
}
.listFriend ul div{
    height: 50px;
    padding: 5px;
}
.listFriend ul div:hover{
    background-color: #d6d3d3;
}
.listFriend ul div img{
    border-radius: 50px;
}
.listFriend ul div span{
    font-weight: bold;
}
.listFriend ul div span:hover{
    text-decoration: underline;
}
.glyphicon-leaf{
    float: right;
    color: rgb(5, 190, 30);
    margin-top:6px;
}
.off{
    color: #888888;
}
/* List Friend Online*/
.newUser{
    height: 200px;
    background-color: #fff;
    margin-bottom: 8px;
    box-shadow: 1px 3px 5px #888888;
}
.newUserTitle{
    height: 45px;
    font-weight: bold;
    text-align: center;
    border-bottom: solid 1px #bbb8b8;
    font-size: 18px;
    padding: 10px; 
    background-color: rgb(12,77,181);
    color: #fff;
}
.newUserList{
    height: 155px;
    overflow-y: scroll;
}
.newUserList ul{
    padding: 0;
    cursor: pointer; 
}
.newUserList ul div{
    height: 50px;
    padding: 5px;
}
.newUserList ul div:hover{
    background-color: #d6d3d3;
}
.newUserList ul div img{
    border-radius: 50px;
}
.newUserList ul div span{
    font-weight: bold;
}
.newUserList ul div span:hover{
    text-decoration: underline;
}
.glyphicon-globe{
    float: right;
    color: rgb(12, 77, 181);
    margin-top:6px;
    font-size: 18px;
}
.glyphicon-plus{
    float: right;
    font-size: 18px;
    color: rgb(12, 77, 181);
    margin-top:6px;
}
/* New User*/

.newPost{
    background-color: #fff;
    margin-bottom: 8px;
    box-shadow: 1px 3px 5px #888888;
}
.userCard img{
    cursor: pointer;
    float: left;
    margin:4px 8px 8px 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.newFeedFullName{
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}
.newFeedFullName:hover{
    text-decoration: underline;
}
.timer{
    cursor: pointer;
    opacity: 0.7;
}
.timer:hover{
    text-decoration: underline;
}
.newFeedFullName .dropdown{
    float: right;
}
.dropdown button{
    background: transparent;
    border: none;
}
.dropdown-menu{
    text-align: center;
}
.dropdown-menu li:hover{
    background-color: #d6d3d3;
}
.glyphicon-eye-close{
    float: right;
    margin-right: 10px;
    font-size: 16px;
}
.glyphicon-eye-open{
    float: right;
    margin-right: 10px;
    font-size: 16px;
}
.glyphicon-share{
    float: right;
    margin-right: 10px;
    font-size: 16px;
}
.glyphicon-option-vertical{
    font-size: 14px;
}
.userText{
    padding-left:8px;
}
/* New Feed */
/* Modal */
.modal-sm{
  position: relative;
  top: 35vh;
}
.modal-footer{
    text-align:  center;
    border-top: none;
}
/* Modal tao phong */

.addFriend{
    margin-top: 10px;
}
.addFriend img{
    border-radius: 50%;
}
.addFriend button{
    float: right;
}
.addFriend button:hover{
    background-color: rgb(12, 77, 181);
    color: #fff;
}
/* Room Member */
.roomMember{
    position: fixed;
    display: none;
    top: 435px;
    left:650px;
    background-color: #fff;
    box-shadow: 1px 3px 5px #888888;
    width: 255px;
}
.roomMember-header p{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    border-bottom: solid #888888 1px;
    opacity: 0.8;
    margin: 0;
}
.member img{
    border-radius: 50%;
    padding: 3px;
}